.hero {
    padding-top: 54px;
    position: relative;
    height: 100vh;
  }
  
  .hero__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .hero__content {
    flex: .8;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero__btn {
    position: absolute;
    bottom: 4%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }