.nav {
    &--color-white {
      color: #fff;
    }
  }
  
  .nav__list {
    display: flex;
    align-items: center;

    @include desktop {
      flex-wrap: wrap;
    }
  }
  
  .nav__item {
    font-weight: 400;
    margin-right: 60px;
  
    &:last-child {
      margin-right: 0;
    }
  }
 
  .nav__link {
    white-space: nowrap;
  } 