.nav {
    &--color-white {
      color: #fff;
    }
  }
  
  .nav__list {
    display: flex;
  }
  
  .nav__item {
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    margin-right: 16%;
  
    &:last-child {
      margin-right: 0;
    }

    &--footer {
      margin-right: 8%;
    }
  }
  
  .nav__link {
    text-decoration: none;
    white-space: nowrap;
  }