.skills-row__title {
  color: $section-title-color;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 10px;

  @include phones {
    text-align: center; 
  }
}
