.skills {
    display: flex;
}

.skills__title {
    margin-bottom: 96px;
    display: flex;
    flex-direction: column;
}

.skills__content {
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
}
