.skills-list {
    display: flex;
    flex-wrap: wrap;

    @include phones {
        justify-content: center;
    }
}

.skills-list__item {
    margin-right: 30px;

    @include phones {
        margin-right: 15px;
    }   

    &:last-child {
        margin-right: 0; 

        @include phones {
            margin-right: 15px;
        }      
    }
}