.skills {
    display: flex;
}

.skills__title {
    margin-bottom: 96px;
    display: flex;
    flex-direction: column;

    @include tablets {
        align-items: center;
    }
}

.skills__content {
    display: flex;
    justify-content: flex-start;
    padding-left: 15%;

    @include tablets {
        padding-left: 0;
    }
}
