.skills-row__title {
  color: $section-title-color;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;

  margin-bottom: 10px;
}

.skills-row__content {
  margin-bottom: 50px;
  
  &::last-child {
    margin-bottom: 0;
  }
}