.slider-thumbs {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 17%;
}

.slider-thumbs__item {
    height: 100px;
    transition: .2s;

    &.active,
    &:hover {
      outline: 3px solid #f29400;
    }
}

.slider-thumbs__link {
    display: block;
    height: 100%;
}

.slider-thumbs__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}