.user-info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

.user-info__desk {
    opacity: 0.4;
    color: $text-color;
    font-size: 18px;
    font-weight: 400;
}

.user-info__name {
    color: $text-color;
    font-size: 72px;
    font-weight: 800;
    line-height: 1;
    padding: 0 30%;

    @include phones {
        padding: 0;
    }
}